.headerContainer {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}
.header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 1rem;
    background: cornflowerblue;
    flex-grow: 1;
}
nav {
    display: flex;
}
.headerItem {
    padding: 1rem;
    font-size: 2rem;
}
.header a {
    text-decoration: none;
    color: #fefefe;
}
.h:hover {
        transform: scale(1.1);
        transition: .5s;
}
